*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: orange;
    height: 5rem;
    line-height:5rem;
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 20px;
}
#user-score,
#comp-score{
 font-size: 4rem;
}

#msg{
    margin-top:6rem;
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius:1rem;
}
